html {
  font-size: 18px;
  /* font-family: "Kalam"; */
  font-family: sans-serif;
}
h2 {
  margin-top: 0rem;
  font-size: 1rem;
}
body {
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../images/headerphoto.webp);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: rgb(234, 243, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main {
  display: flex;
  width: 92vw;
  height: 90vh;
  background: rgb(204, 238, 215);
  border-radius: 5px;
}
#section-background {
  flex-basis: 59%;
  position: relative;
}
#section-info {
  flex-basis: 41%;
}
#navContent {
  min-height: 100vh;
  width: 100vw;
  visibility: hidden;
  z-index: 150;
  /* background-color: rgba(79, 168, 83, 0.87); */
  transition: all 0.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}
#navigation__background {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(79, 168, 83, 0.982);
  position: fixed;
  top: 0px;
  right: 0px;
  visibility: hidden;
  z-index: 149;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

nav #closebtn {
  font-size: 2rem;
  color: white;
  position: absolute;
  right: 0%;
  top: 0%;
  margin-right: 1.8%;
  margin-top: 0.5%;
  z-index: 150;
  text-decoration: none;
}
ul {
  padding: 0;
  width: 98%;
  height: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
ul > * {
  margin-top: 1rem;
}
li a {
  color: rgb(212, 211, 211);
  text-decoration: none;
  font-size: 1.5rem;
}
header {
  display: flex;
  flex-direction: row-reverse;
  height: 5%;
  justify-content: flex-start;
}

#menu-icon {
  border: 1px;
  background-color: rgba(11, 158, 77, 0.527);
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1%;
  margin-top: 1%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 2rem;
  padding-bottom: 3px;
  width: 2rem;
  top: 0%;
  right: 0%;
}
#menu-icon:hover {
  color: yellow;
}
#art-pcoders:hover,
#art-capital:hover,
#art-kardan:hover {
  transform: translateX(0.2rem) scale(1.015);
}
ul li:hover {
  color: white;
  font-weight: bold;
}
main article {
  overflow: hidden;
  position: absolute;
  border: 2px solid rgb(68, 47, 255);
  /* box-shadow: 0rem 0.2rem 0.8rem 0rem rgb(94, 97, 90); */
  z-index: 2;
  color: rgb(54, 4, 121);
  height: 45%;
  width: 65%;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    rgb(53, 163, 73),
    rgb(177, 230, 117)
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
main article p {
  flex-basis: 40%;
  padding: 2%;
  /* background-image: linear-gradient(
      to right bottom,
      rgba(163, 224, 93, 0.8),
      rgba(53, 163, 74, 0.8)
    ); */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#article-span {
  display: flex;
  flex-basis: 60%;
}
#article-span a {
  width: 20%;
  display: flex;
  flex-basis: 32%;
  /* background-image: linear-gradient(
      to right bottom,
      rgba(53, 163, 74, 0.8),
      rgba(163, 224, 93, 0.8)
    ); */
  align-items: center;
  justify-content: center;
  align-content: center;
}
#article-span-span {
  display: flex;
  flex-basis: 68%;
  background-color: #dce2dc;
  padding: 1%;
  border-bottom-left-radius: 4%;
}
#article-span-span > * {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  justify-content: center;
}
#article-span-span span {
  flex-basis: 60%;
  align-items: flex-start;
  border-left: green 4px solid;
  width: 0;
  height: 90%;
  padding: 1%;
}
address {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
h5 {
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 0.9rem;
  margin: 2px;
}

#article-span img {
  width: 50%;
  border-radius: 25%;
  background-color: rgb(163, 252, 103);
}
#article-span-span img {
  width: 6%;
  margin-right: 0.5rem;
}
#article-first {
  top: 5%;
  right: 5%;
  background-image: linear-gradient(
    to right bottom,
    rgb(190, 7, 7),
    rgb(230, 213, 117)
  );
}
#article-two {
  top: 22%;
  left: 5%;
}
#article-three {
  top: 40%;
  right: 15%;
  background-image: linear-gradient(
    to right bottom,
    rgb(53, 60, 163),
    rgb(117, 230, 206)
  );
}
main article:hover {
  z-index: 50;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateY(-0.5rem);
  margin: 0.5rem;
  outline: 0.3rem solid #252599;
}
#section-info h1 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #dce2dc;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #28b485, rgba(0, 0, 0, 0.61));
  padding-bottom: 0;
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(85, 187, 119, 0.5);
}
#art-pcoders img,
#art-capital img {
  width: 25%;
  padding: 0;
  margin: 0;
}
#art-pcoders,
#art-kardan,
#art-capital {
  margin-top: 0.4rem;
  padding: 0.5rem;
  transition: all 0.2s;
  background-color: honeydew;
  box-shadow: 0 0.5rem 0.5rem rgba(85, 187, 119, 0.5);
}
h2,
p {
  padding: 0;
  margin: 0;
}
#art-pcoders #img-location,
#art-kardan #img-location,
#art-capital #img-location {
  width: 8%;
  float: right;
}
#art-kardan img {
  width: 10%;
}

@media screen and (max-width: 1250px) {
  main {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    font-size: 14px;
  }
  main article {
    position: relative;
    width: 100%;

    /* left: auto;
    right: auto;
    bottom: auto;
    top: auto; */
  }
  #article-first,
  #article-two,
  #article-three {
    margin-top: 5px;
    border: none;
    box-shadow: 0 0.5rem 0.5rem rgba(85, 187, 119, 0.5);
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
  }
  main article:hover {
    z-index: 50;
    box-shadow: none;
    transform: none;
    margin: 0;
    outline: none;
  }
  #section-info h1 {
    margin-bottom: 0;
  }
}
@media screen and (max-height: 450px) {
  @media screen and (max-width: 1000px) {
    main {
      font-size: 16px;
      flex-direction: column;
    }
    main article {
      position: relative;
      width: 100%;

      /* left: auto;
      right: auto;
      bottom: auto;
      top: auto; */
    }
    #article-first,
    #article-two,
    #article-three {
      margin-top: 5px;
      border: none;
      box-shadow: 0 0.5rem 0.5rem rgba(85, 187, 119, 0.5);
      left: auto;
      right: auto;
      bottom: auto;
      top: auto;
    }
    main article:hover {
      z-index: 50;
      box-shadow: none;
      transform: none;
      margin: 0;
      outline: none;
    }
    #section-info h1 {
      margin-bottom: 0;
    }
  }
}
